@mixin clearfix {
    &::after{
        content: "";
        clear: both;
        display: table;
    }
    
}

@mixin absCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER

/* 
 0 -600px: phone
 600 - 900px: tablet portrait
900 - 1200px: tablet
[1200 - 1800px] is where our normal style apply
1800px+ : big desktop
 */

// 原始的寫法
/*  @mixin respond-phone {
     @media (max-width: 600px){@content};
 } */

/* 
 $breakpoint arguement choices:
 - phone
 - tab-port 
 - tab-land 
 - big-desktop

 1em = 16px
 發現用em在media query裡最好 
 */


// ORDER:Base + typogrophy > general layout + grid >page layout >components

// 進化的寫法

 @mixin respond($breakpoint) {
    @if $breakpoint == phone{
        // only screen 為第一個條件
        // 表示如果要印出來不用這個樣式
        @media only screen and (max-width: 37.5em){@content}; //600px
     }
     @if $breakpoint == tab-port{
        @media only screen and (max-width: 56.25em){@content}; //900px
     }
     @if $breakpoint == tab-land{
        @media only screen and (max-width: 75em){@content}; //1200px
     }
     @if $breakpoint == big-desktop{
        @media only screen and (min-width: 112.5em){@content}; //1800px
     }
 }