.row {
  max-width: $grid-width;
//   background-color: #eee;
  margin: 0 auto;
  @include clearfix;
  @include respond(tab-port){
    max-width: 50rem;
    padding: 0 3rem;
  }
  [class^="col-"] {
    // background-color: orangered;
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
      @include respond(tab-port){
        margin-right: 0;
        margin-bottom: $gutter-vertical-small;
      }
    }
    @include respond(tab-port){
      width: 100% !important;
    }
  }

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
    @include respond(tab-port){
      margin-bottom: $gutter-vertical-small;
    }
  }
  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }

  .col-1-of-3 {
    width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
  }

//   兩倍的1/3+1個gutter-horizontal
  .col-2-of-3 {
    width: calc(2 *((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal});
  }
  .col-1-of-4 {
    width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
  }

  .col-2-of-4 {
    width: calc(2 *((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal});
  }
  .col-3-of-4 {
    width: calc(3 *((100% - 3 * #{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal});
  }
}
