.header {
  height: 85vh;
  background-image: linear-gradient(to right bottom,
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;

  @supports(clip-path: polygon(0 0))or(-webkit-clip-path: polygon(0 0)){
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    height: 95vh;
  }

  // 192dpi表示apple的螢幕辨識
  // 橘色表示高解析 1.高分辨率且螢幕大於600px時
  // 2.低分辨率螢幕大於2000px時
  @media  only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
  // 下列這行只針對safari
          only screen and (-webkit-min-device-pixel-ratio:2) and (min-width: 37.5em),
          only screen and (min-width: 125em) {
        background-image: linear-gradient(to right bottom,
          rgba($color-secondary-light, 0.8),
          rgba($color-secondary-dark, 0.8)),
          url(../img/hero.jpg);
  }

  @include respond(phone) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
  }

  /* .logo:hover{
            animation: moveInRight 1s ease-out;
        } */

  &__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.6rem;
  }
}