.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: $default-font-size;


    // Change for the <button> element
    border: none;
    cursor: pointer; 
  }

  &:hover {
    transform: translateX(0);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }
  &:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    z-index: -1;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.4s;
  }
  &--white {
    background-color: $color-white;
    color: $color-grey-dark;
    &:after {
      background-color: $color-white;
      /* background-color:red; */
    }
  }
  &--green {
    background-color: $color-primary;
    color: $color-white;
    &:after {
      background-color: $color-primary;
    }
  }

  &--animate {
    animation: moveInBottom 1s ease-out 0.75s;

    /* 動畫開始之前樣式為百分之零 */
    animation-fill-mode: backwards;
  }
}

.btn-text{
  &:link,
  &:visited{
    display: inline-block;
    color: $color-primary;
    font-size: $default-font-size;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    transition: all .2s;
  }

  &:hover{
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, $alpha: .15);
    transform:translateY(-2px);
  }
  &:active{
    box-shadow: 0 1rem 2rem rgba($color-black, $alpha: .15);
    transform:translateY(0);
  }
}