.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }
  //input基本不會繼承之前樣式
  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($color-white, 0.5);
    border: none;
    //為了讓focus十步下移3px 先給他透明的3px
    border-bottom: 3px solid transparent;
    transition: all 0.5s;
    width: 90%;
    display: block;

    @include respond(tab-port) {
      width: 100%;
    }
    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 3px solid $color-primary;
    }
    // google驗證 根據input type
    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }

    //::兩點表示真的存在 是偽元素 不只是偽類
    //只能用在chrome safari
    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
  }

  // +表示兄弟選擇器
  // 當placeholder出現時
  &__input:placeholder-shown + &__label {
    opacity: 0.3;
    visibility: hidden;
    //製造下移效果
    transform: translateY(-4rem);
  }

  &__radio-group {
    width: 49%;
    display: inline-block;

    @include respond(tab-port) {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
  &__radio-label {
    font-size: $default-font-size;
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem;
  }
  &__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid $color-primary;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -0.7rem;

    &::after {
      content: "";
      display: block;
      width: 1.3rem;
      height: 1.3rem;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-primary;
      opacity: 0;
      transition: opacity 0.2s;
    }
  }
  &__radio-input {
    display: none;
  }
  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    opacity: 1;
  }
}
