.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: $color-white;
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  //扭轉
  transform: skewX(-12deg);

  //理論上是要這樣  但是css bug 同一區塊不能用兩次stransform 所以比需疊加再一起寫(分開寫)
  //   在 &__shape  &__text中分開寫
  // & > *{
  //     transform: skewX(12deg);
  // }

  @include respond(tab-port) {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }

  @include respond(phone) {
    transform: skewX(0);
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    background-color: red;

    // 必須要有高度 寬度 float 才能使用shape-outside:
    float: left;
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
    overflow: hidden;
    border-radius: 50%;

    @supports(clip-path: polygon(0 0))or(-webkit-clip-path: polygon(0 0)) {
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      -webkit-shape-outside: circle(50% at 50% 50%);
      shape-outside: circle(50% at 50% 50%);
      border-radius: none;
    }

    @include respond(phone) {
      transform: translate(-3rem) skewX(0);
    }
  }

  &__image {
    height: 100%;
    transition: all 0.5s;

    @include respond(phone) {
      transform: translate(-3rem) skewX(0);
    }
  }

  &__text {
    transform: skewX(12deg);

    @include respond(phone) {
      transform: skewX(0);
    }
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    //解決CSS會往右偏移的BUG
    backface-visibility: hidden;
  }

  //文字漸顯
  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  //圖片變小 變模糊
  &:hover &__image {
    transform: translateX(-4rem) scale(1);
    //濾鏡 brightness(100%)為不變 超過為變亮
    filter: blur(3px) brightness(80%);
  }
}